* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	
	--bg-color: white;
	--text-color: black;
	--primary-color: black;
	--button-secondary: #02799D;
	--button-sounds-bg: gray;

	font-size: clamp(40%, 1% + 2vw, 62.5%);
}

.sr-only {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	margin: -1px;
	padding: 0px;
	border: 0;
	appearance: none;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	display: grid;
	height: 100vh;
	place-content: center;
}

#app {
	display: flex;
	justify-items: center;
	gap: 19.2rem;
}
.section1 {
	display:flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.flex {
	display: flex;
}

#timer {
	font-size: 9.6rem;
	font-weight: bold;
	font-family: sans-serif;
}

#controls {
	margin-top: 1.6rem;
	padding: 2.2rem 4rem;
	gap: 1.6rem;
	border-radius: 999rem;
}
#sounds {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3.2rem;
}

#sounds button {
	padding: 1.6rem;
	background-color: var(--button-sounds-bg);
	border-radius: 1rem;
}
#sounds button.music-on{
	background-color: var(--button-secondary);
}

button {
	background-color: transparent;
	border: 0;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 6.4rem;
}
